.cards-container{
  margin-top: 1000px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-family: shantell sans;
}


.card {
  position: relative;
  width: 220px;
  height: 320px;
  background: mediumturquoise;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  flex: 1;
}

.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: lightblue;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card:hover::before,
.card:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card:hover:after {
  content: "23";

  
}

/* card 2 */


.card2 {
  position: relative;
  width: 220px;
  height: 320px;
  background: mediumturquoise;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  flex: 1;
}

.card2::before,
.card2::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: lightblue;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card2::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card2::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card2:hover::before,
.card2:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card2:hover:after {
  content: "Video Games and Basketball";
}

/* card 3 */

.card3 {
  position: relative;
  width: 220px;
  height: 320px;
  background: mediumturquoise;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  
  flex: 1;
}

.card3::before,
.card3::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: lightblue;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card3::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card3::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card3:hover::before,
.card3:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card3:hover:after {
  content: "Single";
}

/* card 4 */

.card4 {
  position: relative;
  width: 220px;
  height: 320px;
  background: mediumturquoise;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
 
  flex: 1;
}

.card4::before,
.card4::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: lightblue;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card4::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card4::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card4:hover::before,
.card4:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card4:hover:after {
  content: "Male";
}
